   /* Style all buttons */
button {
    background-color: #ed3f11;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
  
/* Change button style on hover */
button:hover {
    background-color: #c42700;

button,
input[type="radio"] {
  background-color: #ed3f11;
  color: #fff;
  font-family: 'EXO 2', arial;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="radio"] {
  margin: 0 25px;
}

input[type="radio"]:checked+label {
  background-color: #ed3f11;
  color: #92f9ea;
}
      
 /* Center the logo */
.logo {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
   
label {
  color: #92f9ea;
  font-family: 'EXO 2', arial;
}

/* Set the background color */
body {
    background-color: #19191e;
}
      
      
