#my-h1 {
  text-align: center;
  color: #92f9ea;
}

/* Style all buttons */
button {
  background-color: #ed3f11;
  color: #fff;
  border: none;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: block;
  margin: 0 auto;
}

/*button pressed */
button:active {
  transform: scale(0.5);
  transition: transform 0.2s ease-in-out;
}
 
/* Change button style on hover */
button:hover {
  background-color: #c42700;
}

/* Center the logo */
.logo {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

/* Set the background color */
body {
  background-color: #19191e;
}

label {
  color: #92f9ea;
  font-family: 'EXO 2', arial;
}

/* Center the radio buttons and labels */
.radio-group {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.radio-group label {
  margin: 0 25px;
}

/* Center the button */
#generate-btn {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
/* Center the label */
#numArtists-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  color: #92f9ea;
  font-family: "EXO 2", sans-serif;
}
/* Center the label */
#info-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  color: #92f9ea;
  font-family: "EXO 2", sans-serif;
}

/* Center the label */
#tittle-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  color: #92f9ea;
  font-family: "EXO 2", sans-serif;

